In [4]:
import pandas as pd
import numpy as np

In [5]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))
ts = ts.cumsum()
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index, columns=list("ABCD"))
df

                   A         B         C         D
2000-01-01  1.533650  0.286656 -0.260909  1.198472
2000-01-02 -0.911538  0.195489 -0.508444  0.334538
2000-01-03  0.930518  0.026157 -1.144928 -1.559732
2000-01-04  0.264293 -0.472106 -1.484009  0.261618
2000-01-05 -0.819765  0.587115 -0.543747  0.135683
...              ...       ...       ...       ...
2002-09-22 -0.530313 -0.539303 -1.447717 -0.262012
2002-09-23 -1.279444  1.011894 -2.044083 -0.097267
2002-09-24 -0.318232  0.022485  0.180367  0.920577
2002-09-25  0.990552 -0.643974  1.395729  0.961227
2002-09-26 -1.207553  0.939335 -1.278504 -1.167885

[1000 rows x 4 columns]